/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip { chain-length = <42>; };

/ {
    behaviors {
        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    chosen { zmk,underglow = &led_strip; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  Q  |  W  |  E  |  R  |    T    |   |  Y  |  U   |  I  |  O  |  P  | ESC |
            // | CTRL |  A  |  S  |  D  |  F  |    G    |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |    B    |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
            //                    | GUI | RSE | ALT/ENT |   | BKSP | HYPER/SPC  | LWR |

            bindings = <
&kp ESC       &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y      &kp U  &kp I          &kp O    &kp P     &kp DELETE
&kp CAPSLOCK  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H      &kp J  &kp K          &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp LSHFT     &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N      &kp M  &kp COMMA      &kp DOT  &kp FSLH  &kp RSHFT
                            &kp LGUI  &mo 1  &kp ENTER    &kp SPACE  &mo 2  &kp BACKSPACE
            >;
        };

        layer_below {
            // -----------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #  |  $  |    %     |   |  ^  |  &  |  *  |  (  |  )  |   \   |
            // |      |  1  |  2  |  3  |  4  |    5     |   |  -  |  =  |  `  |  [  |  ]  |  "|"  |
            // | SHFT |  6  |  7  |  8  |  9  |    0     |   |  _  |  +  |  ~  |  {  |  }  | RSHFT |
            //                     | GUI |     | ALT/ENT |   | BKSP | HYPER/SPACE |    |

            bindings = <
&kp F1     &kp F2      &kp F3   &kp F4            &kp F5             &kp F6          &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9   &kp SLASH     &kp ASTERISK  &kp MINUS
&kp F7     &kp F8      &kp F9   &kp F10           &kp F11            &kp F12         &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6   &kp GRAVE     &kp PLUS      &kp ENTER
&kp LSHFT  &kp C_MENU  &kp TAB  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BSLH        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3   &kp NUMBER_0  &kp DOT       &kp RSHFT
                                &kp LCTRL         &trans             &kp LEFT_ALT    &kp RCTRL     &kp EQUAL     &kt RIGHT_ALT
            >;
        };

        layer_above {
            // -----------------------------------------------------------------------------------------
            // |  |  F1  |  F2  |  F3  |  F4  |  F5 |            |  F6  |  F7     |  F8     |  F9        |  F10     |     |
            // |  | Prev | Next | Vol - | Vol + | Play/Pause |   |      | LFT     | DWN     |  UP        |  RGT     |     |  HOME   |
            // |  BTCLR  | BT1 | BT2 | BT3 | BT4 | BT5 |   |            | RGB_TOG | RGB_EFF |  RGB_BRI   |  RGB_BRD |     |   END  |
            //                    |     |     |    |                  |     |     |     |

            bindings = <
&trans      &kp UP        &trans        &kp INSERT    &kp HOME      &kp PAGE_UP      &kp PRINTSCREEN    &kp SCROLLLOCK   &kp C_PAUSE       &trans             &trans                            &trans
&kp LEFT    &kp DOWN      &kp RIGHT     &kp DEL       &kp END       &kp PAGE_DOWN    &kp C_PREV         &kp C_NEXT       &kp C_PP          &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                   &kp K_MUTE
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     &rgb_ug RGB_TOG    &rgb_ug RGB_EFF  &rgb_ug RGB_BRI   &rgb_ug RGB_BRD    &rgb_ug RGB_COLOR_HSB(241,88,46)  &rgb_ug RGB_SPI
                                        &trans        &trans        &trans           &ext_power EP_OFF  &trans           &ext_power EP_ON
            >;
        };
    };
};
